@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Patrick+Hand&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Patrick Hand', sans-serif;
  background: #fafaf7;
}

:fullscreen canvas {
  width: 100vw !important;
  height: 100vh !important;
}

:-webkit-full-screen canvas {
  width: 100vw !important;
  height: 100vh !important;
}

:-moz-full-screen canvas {
  width: 100vw !important;
  height: 100vh !important;
}

:fullscreen > div {
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #0f0f1a !important;
}